.App {
  flex: 1;
  width: 100vw;
}

/* .main {
  height: auto;
  overflow: scroll;
} */

::-webkit-scrollbar {
  height: 0px;              /* height of horizontal scrollbar ← You're missing this */
  width: 0px;
}